
<div id="wrapper">
  <app-header></app-header>
  <form class="create-post" [formGroup]="createPostForm" (ngSubmit)="onCreate(createPostForm.value)" action=""
        method="post" name="form">
    <label for="title">Title</label>
    <input class="title-input" type="text" formControlName="title" id="title">
    <label for="postTags">#Tags</label>
    <input type="text" formControlName="postTags" id="postTags" placeholder="#name#name">
    <div class="invalid" *ngIf="createPostForm.get('postTags').invalid && createPostForm.get('postTags').touched">
    Incorrect #tags
    </div>
    <label for="photoPath">Image</label>
    <input class="" type="file" accept="image/*" formControlName="photoPath" id="photoPath"
           (change)="handleFileSelect($event)"/>
    <div class="postImage">
      <img src="data:image/png;base64,{{base64ImageTextString}}" alt=""/>
    </div>
    <label for="description">Description</label>
    <textarea formControlName="description" id="description"></textarea>
    <button type="submit" class="" [disabled]="createPostForm.invalid">Create</button>
  </form>
</div>
