<!-- Main -->
<div id="main">

  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  <nav class="main">
    <ul>
      <li class="search">
        <form id="search" method="get" action="#" class="visible">
          <input type="text" name="query" [(ngModel)]="inputTags" placeholder="Type #tag#tag ..."/>
        </form>
        <a class="fa-search" (click)="searchPostsByTags(inputTags)">Search</a>
      </li>
    </ul>
  </nav>
  <app-main-post *ngFor="let post of posts | paginate: config" [post]="post">
  </app-main-post>

  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

</div>
